/.idea/
/spring-ai/target/
/spring-ai-alibaba/target/
/prompt/target/
/langchain4j-ai/target/
/jc-SalesAgent/target/
/jc-ai-front/dist/
/jc-ai-front/node_modules/
/agent-ai/target/
/jc-sales-agent-front/dist/
/jc-sales-agent-front/node_modules/
/jc-sales-agent/target/
/jc-sales-agent-front/package-lock.json
/mcp-tools-server/target/
/mcp-tools-server/mcp-server.log
/mcp-server.log
/mcp-tools-client/target/
/a2a-server/target/
/a2a-client/target/
/agent-scope-ai/target/
/sessions/
/eval-framework/target/
/eval-baselines/
/jc-rag-kb/target/
